# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Database
instance/
*.sqlite3
*.db

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log
coverage/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.launch
*.sublime-workspace
history/

# OS
.DS_Store
Thumbs.db